Repository kawanishi0117/claude-company, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, infra, docs, dependencies, security

.github/labeler.yml:

# Claude Company System - Auto Labeler Configuration (簡略版)

# カテゴリ別ラベル
backend:
  - changed-files:
    - any-glob-to-any-file: 'src/claude/**'
    - any-glob-to-any-file: 'src/controllers/**'
    - any-glob-to-any-file: 'src/models/**'
    - any-glob-to-any-file: 'src/queue/**'
    - any-glob-to-any-file: 'src/git/**'
    - any-glob-to-any-file: 'src/integration/**'

frontend:
  - changed-files:
    - any-glob-to-any-file: 'dashboard/**'

infra:
  - changed-files:
    - any-glob-to-any-file: '.github/**'
    - any-glob-to-any-file: 'docker/**'
    - any-glob-to-any-file: 'docker-compose.yml'
    - any-glob-to-any-file: 'Dockerfile'
    - any-glob-to-any-file: '.dockerignore'

# 変更タイプ
docs:
  - changed-files:
    - any-glob-to-any-file: '**/*.md'
    - any-glob-to-any-file: 'docs/**'

dependencies:
  - changed-files:
    - any-glob-to-any-file: '**/package.json'
    - any-glob-to-any-file: '**/package-lock.json'
    - any-glob-to-any-file: '**/yarn.lock'

security:
  - changed-files:
    - any-glob-to-any-file: '.github/workflows/codeql.yml'
    - any-glob-to-any-file: '**/security/**'

GitHub Actionsの設定を更新し、ラベル管理ジョブに必要な権限を追加しました。これにより、コンテンツの読み取りとイシューの書き込みが可能になります。
  .github/workflows/labels.yml
Labels: infra

Docker環境の起動スクリプトを改善し、Dockerが実行中でない場合に自動的にDocker Desktopを起動する機能を追加しました。また、WSL2とDocker Engineのセットアップ手順を含む新しいREADMEファイルを作成し、Windows用の簡易起動スクリプトを追加しました。さらに、設定ファイルに新しいBashコマンドを追加しました。
  .claude/settings.local.json
  setup/README.md
  setup/windows/README.md
  setup/windows/run.ps1
  setup/windows/setup-all.ps1
  setup/windows/start-docker-wsl.bat
  start.ps1
Labels: docs

WSLおよびDocker環境の設定を強化し、.envファイルにWSLおよびDockerモードの新しい構成オプションを追加しました。また、WSLディストリビューションの確認とDockerネットワークの修正スクリプトを新たに作成し、Dockerの起動スクリプトを改善しました。さらに、ダッシュボードのパフォーマンスメトリクスにタスク失敗数を追加し、依存関係を更新しました。
  .claude/settings.local.json
  .env.example
  README-ENV-CONFIG.md
  check-wsl.ps1
  dashboard/Dockerfile
  dashboard/package.json
  dashboard/src/pages/Dashboard.tsx
  dashboard/src/types/index.ts
  debug-wsl.ps1
  docker-compose.yml
  docker/boss-ai/Dockerfile
  docker/subordinate-ai/Dockerfile
  fix-docker-network-simple.ps1
  fix-docker-network.ps1
  fix-docker-wsl-manual.ps1
  fix-wsl-distro.ps1
  quick-docker-test.ps1
  set-wsl-distro.ps1
  setup-passwordless-docker.ps1
  setup-wsl-docker.sh
  setup/windows/fix-docker-wsl.ps1
  setup/windows/install-docker-compose-wsl.sh
  setup/windows/setup-all.ps1
  setup/windows/setup-docker-cli-windows.bat
  setup/windows/setup-docker-passwordless.sh
  start-docker-wsl.bat
  start-windows-docker.ps1
  start.ps1
Labels: frontend, infra, docs, dependencies

Add Tailwind typography, update logging, and add build test script
  dashboard/package.json
  docker-compose.yml
  docker/boss-ai/tsconfig.json
  docker/subordinate-ai/tsconfig.json
  test-individual-builds.ps1
Labels: frontend, infra, dependencies

Improve styling, Dockerfiles, and add dark mode color variables
  dashboard/src/index.css
  dashboard/tailwind.config.js
  docker/boss-ai/Dockerfile
  docker/subordinate-ai/Dockerfile
Labels: frontend, infra
